body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.calendar {
  color: #706f6f;
  float: left;
  position: relative;
}
.calendar .date {
  height: 230px;
  width: 230px;
  display: block;
  background: #f6f6f6;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-border-radius: 115px;
  -moz-border-radius: 115px;
  border-radius: 115px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.calendar .date:hover {
  color: white;
  background: #3c3c3b;
}
.calendar .date:hover .date__outline {
  height: 224px;
  width: 224px;
  -webkit-border-radius: 113px;
  -moz-border-radius: 113px;
  border-radius: 113px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  top: 2px;
  left: 2px;
}
.calendar .date:hover .date__icon {
  background-position: 0 -44px;
  background-color: #3c3c3b;
}
.calendar .date__outline {
  border: 1px dotted #959595;
  height: 190px;
  width: 190px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.calendar .date--textcontainer {
  width: 190px;
  height: 190px;
  text-align: center;
  position: absolute;
  top: 14px;
  left: 19px;
}
.calendar .date__dayofweek {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  letter-spacing: 3px;
}
.calendar .date__dayofweek span {
  z-index: 1;
}
.calendar .date__day {
  font-size: 5em;
  margin-top: 32px;
  line-height: 0.9em;
}
.calendar .date__month {
  font-size: 1.6em;
  font-weight: 100;
  text-transform: uppercase;
}
.calendar .date__icon {
  height: 44px;
  width: 44px;
  background: #f6f6f6 url('../images/sprites.png') no-repeat top left;
  margin-left: 70px;
  margin-top: 12px;
  -webkit-transition: background-color 1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out;
  -ms-transition: background-color 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out;
}
.calendar .time {
  font-size: 1.5em;
  letter-spacing: 3px;
  margin-top: 20px;
}
.calendar .time__from {
  float: left;
}
.calendar .time__to {
  float: left;
}
.calendar .time__seperator {
  float: left;
  padding: 0 5px;
}
