.calendar{
	color: @text-colour;
	float: left;
	position: relative;
	.date{
		height: 230px;
		width: 230px;
		display: block;
		background: @gray-base;
		.transition(all 1s ease-in-out);
		.border-radius (115px);
		&:hover{
			color: white;
			background: @gray-dark;
			.date__outline{
				height: 224px; 
	    		width: 224px; 
	    		.border-radius (113px);
	    		top: 2px;
    			left: 2px;
			}
			.date__icon{
			    background-position: 0 -44px;
			    background-color: @gray-dark;
			}
		}
	}
	.date__outline{
		border: 1px dotted @gray-darker;
	    height: 190px; 
	    width: 190px; 
	    .border-radius (100px);
	    position: absolute;
	    top: 20px;
   		left: 20px;
   		.transition(all 1s ease-in-out);
	}
	.date--textcontainer{
	    width: 190px;
	    height: 190px;
	    text-align: center;
	    position: absolute;
	    top: 14px;
	    left: 19px;
	}
	.date__dayofweek{
	    font-size: 1em;
	    font-weight: bold;
	    text-transform: uppercase;
	    display: block;
	    letter-spacing: 3px;
	    span{
	    	z-index: 1;
	    }
	}
	.date__day{
      	font-size: 5em;
		margin-top: 32px;
		line-height: 0.9em;
	}
	.date__month{
	    font-size: 1.6em;
	    font-weight: 100;
	    text-transform: uppercase;
	}
	.date__icon{
		height: 44px;
	    width: 44px;
	    background: @gray-base url('../images/sprites.png')  no-repeat top left;
	    margin-left: 70px;
	    margin-top: 12px;
	    .transition(background-color 1s ease-in-out);
	}
	.time{
		font-size: 1.5em;
	    letter-spacing: 3px;
	    margin-top: 20px;
	}
	.time__from{
		float: left;
	}
	.time__to{
		float: left;
	}
	.time__seperator{
		float: left;
		padding: 0 5px;
	}
}